<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-text text-white">
        Συνδεθείτε για να συνεχίσετε
      </span>
    </div>
  </nav>
  

  <div class="outer">
  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card form-container">
                  <div class="card-body">
                      <h5 class="card-title text-center">Sign In</h5>
                      <form>
                          <div class="mb-3">
                              <label for="username" class="form-label">Username</label>
                              <input type="text" class="form-control" id="username" placeholder="Enter your username">
                          </div>
                          <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="password" placeholder="Enter your password">
                          </div>
                          <div class="d-grid gap-2">
                              <a role="button" type="submit" href="menu" class="btn btn-primary">Sign In</a>
                              <p class="text-center mt-3">Don't have an account? </p>
                              <a  role="button" href="signup-form" class="btn btn-secondary ">Create Account</a>
                            
                          </div>
                      </form>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>