<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-text text-white">
      <h2>ΕΠΙΚΟΙΝΩΝΙΑ</h2> 
    </span>
    <a  role="button" href="menu" class="btn btn-secondary ">πίσω</a>
  </div>
</nav>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
     
      <p><strong>Τηλέφωνο:</strong> 111111111</p>
      <p><strong>Διέυθηνση:</strong> Ερμού 18, Αθήνα</p>
      <h3>Ωράριο καταστήματος</h3>
      <ul class="list-group">
        <li class="list-group-item">Δευτέρα: 9:00 - 17:00 </li>
        <li class="list-group-item">Τρίτη: 9:00 - 17:00 </li>
        <li class="list-group-item">Τετάρτη: 9:00 - 17:00 </li>
        <li class="list-group-item">Πέμπτη: 9:00 - 17:00 </li>
        <li class="list-group-item">Παρασκευή: 9:00 - 17:00 </li>
        <li class="list-group-item">Σάββατο: 10:00 - 15:00 </li>
        <li class="list-group-item">Κυριακή: κλειστό</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>ΧΑΡΤΗΣ</h3>
      <div class="map-container">
        <div id="map" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
