<div class="myOuter">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand"><h2>Επιλογή προϊόντων</h2></a>
      <button class="navbar-toggler" style="border-color: white;" type="button" (click)="toggleCollapse()" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div  class="button-container" class="collapse navbar-collapse"  [@collapseAnimation]="isCollapsed ? 'false' : 'true'" id="navbarSupportedContent">
       
        
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>

      
        <ul class="navbar-nav ml-auto flex-row">
          <li class="nav-item">
           <a href="profile"> <button class="btn3 btn-outline-primary mx-1"><h2><i class="bi bi-person-fill"></i></h2></button></a>
          </li>
          <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
          
          <li class="nav-item">
           <a href="simple"> <button class="btn3 btn-outline-primary mx-1"><h3><i class="bi bi-bag-fill"></i></h3></button></a>
          </li>
          <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
          <li class="nav-item">
           <a href="contact-shop"> <button class="btn3 btn-outline-primary mx-1"><h3><i class="bi bi-telephone-fill"></i></h3></button></a>
          </li>
        </ul>

        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        <div class="btn btn-primary btn-lg  ml-auto mr-3"></div>
        

        <ul>
          <li class="nav-item">
            <span role="button" class="btn btn-outline-secondary ml-1" (click)="logout()">Logout</span>
          </li>
        </ul>


      </div>
    </div>
  </nav>
</div>



<div class="secondouter">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let category of uniquecategories" class="nav-item dropdown" >
        <a  class="nav-link dropdown-toggle" (hover)="showdropdown" id="navbarDropdownMan" role="button" aria-haspopup="true"
          aria-expanded="false">
          {{ category }}
        </a>
        <div *ngIf="dropdownvisible">
        <div  *ngFor="let value of separateStrings(extractFromObject(uniquesubcategoriesOfCategory,category))" class="dropdown-menu" >
          <a  class="dropdown-item" href="#">{{separateStrings(extractFromObject(uniquesubcategoriesOfCategory,category))}}</a>
        </div> 
        </div>
       
      </li>
     </ul>

</nav>
</div>


<div *ngFor="let category of uniquecategories" >
<div  *ngFor="let value of extractFromObject(uniquesubcategoriesOfCategory,category)"  >
  <table>
    <thead>
      <tr>
        <th style="color: brown;">{{ category }}</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>{{ value }}</td>
      </tr>
    </tbody>
  </table>
</div> 
</div>



<!--<div class="secondouter">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let category of uniquecategories" class="nav-item dropdown"
          (mouseenter)="toggleDropdown(category)" 
          (mouseleave)="toggleDropdown(category)">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMan" role="button" aria-haspopup="true" aria-expanded="false">
          {{ category }}
        </a>
        <div *ngIf="showDropdown[category]" class="dropdown-menu" aria-labelledby="navbarDropdownMan">
          <a *ngFor="let value of extractFromObject(uniquesubcategoriesOfCategory, category)"
             class="dropdown-item" href="#">
            {{ value }}
          </a>
        </div>
      </li>
    </ul>
  </nav>
</div>-->


